<h1>Chat</h1>
<hr>

<div class="app-messages" id="app-messages">
	<div *ngFor="let chat of chatService.chats"
		[ngClass]=" { 'text-end': chatService.user.uid === chat.uid, 
						'text-start' : chatService.user.uid !== chat.uid } ">
		<span class="badge"
		[ngClass]="{ 'bg-success': chatService.user.uid === chat.uid, 
						'bg-primary' : chatService.user.uid !== chat.uid } "> 
			{{ chat.name }} 
		</span>
		<p>
			{{ chat.message }}
		</p>
	</div>
</div>
<input type="text" 
		name="message" 
		class="form-control"
		placeholder="Write message"
		[(ngModel)]="message"
		(keyup.enter)="sendMessage()">
